REGISTRY_SERVER='docker.io'
REGISTRY_NAMESPACE='REPLACE'
REGISTRY_PASSWORD='REPLACE'
GIT_REPO_URL='https://github.com/REPLACE/knative-tekton'
EXTERNAL_IP=$(minikube ip || kubectl get nodes -o jsonpath='{.items[0].status.addresses[?(@.type=="ExternalIP")].address}')
echo EXTERNAL_IP=$EXTERNAL_IP
KNATIVE_DOMAIN="$EXTERNAL_IP.nip.io"
echo KNATIVE_DOMAIN=$KNATIVE_DOMAIN
CURRENT_CTX=$(kubectl config current-context)
CURRENT_NS=$(kubectl config view -o=jsonpath="{.contexts[?(@.name==\"${CURRENT_CTX}\")].context.namespace}")
if [[ -z "${CURRENT_NS}" ]]; then CURRENT_NS="default" fi
echo CURRENT_NS=$CURRENT_NS
SUB_DOMAIN="$CURRENT_NS.$KNATIVE_DOMAIN"
echo "\n\nSUB_DOMAIN=$SUB_DOMAIN"
